h1 {
    color:red;
    font-weight: bolder;
    font-size: 3em;
}

nav li {
    color: darkred;
}

p{
    color:blue;
    font-size: 1.5em;
}

ol {
    color: darkblue;
    font-size: 1.5em;
}